body {
    margin: 0;
    font-family: "Geom", serif;
}

.container {
    width: min(100% - 2rem, 64rem);
    margin: 0 auto;
}

.site-title {
    font-weight: 700;
}

nav {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover,
a:focus-visible {
    text-decoration: underline;
}

p {
    font-family: "Platypi";
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 0;
    font-family: "Platypi";
}

@media (max-width: 350px) {
    header .container {
        align-items: flex-start;
        flex-direction: column;
    }

    nav {
        width: 100%;
    }
}
