@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
    text-align: center;
    display: block;
    width: 50%;
    background-color: black;
    font-family: 'Roboto Mono', monospace;
}
